@model Telescope_Traking_Delivery.Models.Client;
@{
    ViewData["Title"] = "Client_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-elements-wrapper fa-align-center">

    <div class="row">

        <div class="col-lg-6">

            <!-- input style start -->
            <div class="card-style mb-30">

                @if (Model.IdClient == 0)
                {
                    <h6 class="input-style-25">Crear Una nuevo Cliente</h6>
                }
                else
                {
                    <h6 class="input-style-25"> Editar el Cliente</h6>
                }


                <form asp-action="Client_Detalle" asp-controller="Client" method="post">
                    <input type="hidden" asp-for="IdClient" />

                    <div class="input-style-2">
                        <label class="form-label" asp-for=" CodeClient">Codigo de Cliente</label>
                        <input class="form-control form-control-sm" asp-for=" CodeClient" type="text" />
                        <span class="icon"> <i class="lni lni-user"></i> </span>

                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="ClientName">Nombre de Cliente</label>
                        <input class="form-control form-control-sm" asp-for="ClientName" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for=" ContactAliases">Aliaz</label>
                        <input class="form-control form-control-sm" asp-for=" ContactAliases" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for=" Rfc">RFC</label>
                        <input class="form-control form-control-sm" asp-for="Rfc" type="text" />
                    </div>

                    <div class="input-style-2">
                        <label class="form-label" asp-for=" AddressClient">Direccion</label>
                        <input class="form-control form-control-sm" asp-for="AddressClient" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="TypeCredit">Tipo de credito</label>
                        <input class="form-control form-control-sm" asp-for="TypeCredit" type="text" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="TypeClient">Tipo de Cliente</label>
                        <input class="form-control form-control-sm" asp-for="TypeClient" type="text" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="EsActivo">Estado</label>
                        <select class="form-select form-select-sm" asp-for="EsActivo">
                            <option value="True">Activo</option>
                            <option value="False">No Activo</option>
                        </select>
                    </div>
                    <div class="input-style-2" hidden>
                        <label class="form-label" asp-for="FechaRegistro">FechaRegistro</label>
                        <input class="form-control form-control-sm" asp-for="FechaRegistro" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                    </div>

                    <div class="input-style-2">

                        @if (Model.IdClient == 0)
                        {
                            <button class="btn btn-primary btn-sm w-40" type="submit">Crear</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm w-40" type="submit">Actualizar</button>

                        }
                        <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Client">Volver</a>

                    </div>



                </form>



            </div>

        </div>

    </div>

</div>

@section Scripts{

}


