@model Telescope_Traking_Delivery.Models.Order;
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Eliminar registro de Pedido</h5>


        <!-- Multi Columns Form -->        

                <form class="row g-3" asp-action="Eliminar" asp-controller="Order" method="post">
                    <input type="hidden" asp-for="IdOrders" />

                    <div class="col-md-6">
                        <label class="form-label" asp-for="SiteLoading">SITIO DE CARGA</label>
                        <input class="form-control form-control-sm" asp-for="SiteLoading" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="OrdersDelivery">ENTREGA / VALE </label>
                        <input class="form-control form-control-sm" asp-for="OrdersDelivery" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="DtAppointedForShipment">FECHA Y HORA DE CARGA PROGRAMADA</label>
                        <input class="form-control form-control-sm" asp-for="DtAppointedForShipment" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-6 ui-datepicker">
                        <label class="form-label" asp-for="DtOfBoarding">FECHA Y HORA DE CARGA REAL</label>
                        <input class="form-control form-control-sm" asp-for="DtOfBoarding" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="DtOfFarrivalOfUnit">FECHA Y HORA DE LLEAGDA DE LA UNIDAD</label>
                        <input class="form-control form-control-sm" asp-for="DtOfFarrivalOfUnit" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="OtOfBoarding">OT LLEGADA A CARGA</label>
                        <input class="form-control form-control-sm" asp-for="OtOfBoarding" type="text" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" asp-for="DtOfChargingStart">FEHA Y HORA DE INICIO DE CARGA</label>
                        <input class="form-control form-control-sm" asp-for="DtOfChargingStart" type="text" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" asp-for="DtLoadingEnd">FEHA Y HORA DE FIN DE CARGA</label>
                        <input class="form-control form-control-sm" asp-for="DtLoadingEnd" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" asp-for="OtOfChargingStart">OT DE CARGA</label>
                        <input class="form-control form-control-sm" asp-for="OtOfChargingStart" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="DtOfDepartureFromSite">FECHA Y HORA DE LIMITE DE SALIDA DE SITIO</label>
                        <input class="form-control form-control-sm" asp-for="DtOfDepartureFromSite" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="VehicleControl">FOLIO VEHICULAR</label>
                        <input class="form-control form-control-sm" asp-for="VehicleControl" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Destination">DESTINO</label>
                        <input class="form-control form-control-sm" asp-for="Destination" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="DtDeliveryAppointment">FECHA Y HORA DE CITA DE ENTREGA</label>
                        <input class="form-control form-control-sm" asp-for="DtDeliveryAppointment" type="text" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" asp-for="Pieces">PIEZAS</label>
                        <input class="form-control form-control-sm" asp-for="Pieces" type="text" disabled />
                    </div>                                        
                    <div class="col-md-3">
                        <label class="form-label" asp-for="Boxes">CAJAS</label>
                        <input class="form-control form-control-sm" asp-for="Boxes" type="text" disabled />
                    </div>                                        
                    <div class="col-md-6">
                        <label class="form-label" asp-for="DtArrivalToUnload">FECHA Y HORA DE ENTREGA REAL</label>
                        <input class="form-control form-control-sm" asp-for="DtArrivalToUnload" type="text" disabled />
                    </div>                                          
                    <div class="col-md-3">
                        <label class="form-label" asp-for="OnTime">OT DE ENTREGA</label>
                        <input class="form-control form-control-sm" asp-for="OnTime" type="text" disabled />
                    </div>                                        
                    <div class="col-md-3">
                        <label class="form-label" asp-for="DeliveryStatus">ESTATUS</label>
                        <input class="form-control form-control-sm" asp-for="DeliveryStatus" type="text" disabled />
                    </div>    
                      <div class="col-md-6">
                        <label class="form-label" asp-for="Obsevations">OBSERVACIONES EN LA ENTREGA</label>
                        <input class="form-control form-control-sm" asp-for="Obsevations" type="text" disabled />
                    </div>                                          
                    <div class="col-md-6">
                        <label class="form-label" asp-for="ShippingObservations">OBSERVACIONES EN EL EMBARQUE</label>
                        <input class="form-control form-control-sm" asp-for="ShippingObservations" type="text" disabled />
                    </div>                                         
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IncidentOfArrivalCargoTr">INCI. ARRIBO A CARGA (TRANSPORTE)</label>
                        <input class="form-control form-control-sm" asp-for="IncidentOfArrivalCargoTr" type="text" disabled />
                    </div>                                         
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IncidentOfArrivalClientTr">INCI. ARRIBO A CLIENTE (TRANSPORTE)</label>
                        <input class="form-control form-control-sm" asp-for="IncidentOfArrivalClientTr" type="text" disabled />
                    </div>                                         
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IncidentInShipmentWh">INC. EN EMBARQUE (ALMACEN)</label>
                        <input class="form-control form-control-sm" asp-for="IncidentInShipmentWh" type="text" disabled />
                    </div>    
                      <div class="col-md-6">
                        <label class="form-label" asp-for="ExtraRouteIndicator">INDICADORES DE RUTAS EXTRA</label>
                        <input class="form-control form-control-sm" asp-for="ExtraRouteIndicator" type="text" disabled />
                    </div>                                          
                    <div class="col-md-6">
                        <label class="form-label" asp-for="AccidentInRoute">SINIESTROS EN RUTA</label>
                        <input class="form-control form-control-sm" asp-for="AccidentInRoute" type="text" disabled />
                    </div>                                         
                    <div class="col-md-6">
                        <label class="form-label" asp-for="RoadTimeIndicators">INDICADORES TIEMPO EN CARRETERA</label>
                        <input class="form-control form-control-sm" asp-for="RoadTimeIndicators" type="text" disabled />
                    </div> 
                     <div class="col-md-6">
                        <label class="form-label" asp-for="IdClient">CLIENTE</label>
                        <input class="form-control form-control-sm" asp-for="IdClientNavigation.ClientName" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IdTypeOrders">TIPO DE PEDIDO</label>
                        <input class="form-control form-control-sm" asp-for="IdTypeOrdersNavigation.Clasification" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IdTransport"> TRANSPORTE</label> <br />
                        <input class="form-control form-control-sm" asp-for="IdTransportNavigation.TransportName" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IdTransportist">OPERADOR</label>
                        <input class="form-control form-control-sm" asp-for="IdTransportistNavigation.NameTransportist" type="text" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Confirmation">Fecha y Hora/ Confirmacion</label>
                        <input class="form-control form-control-sm" asp-for="Confirmation" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="EndDateTime">FEHA Y HORA DE FIN DE CARGA</label>
                        <input class="form-control form-control-sm" asp-for="EndDateTime" type="datetime-local" disabled />
                    </div>
                    <div class="col-md-6" hidden>
                        <label class="form-label" asp-for="IdUsuario">Usuario que registro</label>
                        <input class="form-control form-control-sm" asp-for="IdUsuarioNavigation.Nombre" type="text" disabled />
                    </div>                                        
                    <div class="col-md-6" hidden>
                        <label class="form-label" asp-for="FechaRegistro">Fecha de registro</label>
                        <input class="form-control form-control-sm" asp-for="FechaRegistro" type="text" disabled />
                    </div>
                    <div class="col-md-6">

                        <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                        <a class="btn btn-dark btn-sm" asp-action="modal" asp-controller="Order">Volver</a>

                    </div>

                </form>

    </div>

</div>