@{
    ViewData["Title"] = "MostrarDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <h6 class="mb-10">Mostrar Datos</h6>
            <p class="text-sm mb-20">
                Seleccione el archivo con los registros que desee cargar al sistema.
            </p>
            <ul class="buttons-group">
                <li>
                    <input class="form-control-file" type="file" id="inputExcel" required />
                </li>
                <li>
                    <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos</button>
                </li>
                <li>
                    <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                </li>
            </ul>
            <div class="table-wrapper table-responsive">

                <table id="tbData" class="table">


                    <thead>
                        <tr>
                            <th> SITE(Carga) </th>
                            <th> ENTREGA / VALE </th>
                            <th> VENTA / PROMO </th>                           
                            <th> FECHA Y HORA DE CARGA PROGRAMADA </th>
                            <th> FECHA Y HORA DE CARGA REAL </th>
                            <th> FECHA Y HORA DE LLEAGDA DE LA UNIDAD </th>
                            <th> OT LLEGADA A CARGA </th>
                            <th> FEHA Y HORA DE INICIO DE CARGA </th>
                            <th> FEHA Y HORA DE FIN DE CARGA </th>
                            <th> OT DE CARGA </th>
                            <th> FECHA Y HORA DE LIMITE DE SALIDA DE SITIO </th>
                            <th> FOLIO VEHICULAR</th>
                            <th> DESTINO</th>
                            <th> FECHA Y HORA DE CITA DE ENTREGA </th>
                            <th> PIEZAS</th>
                            <th> CAJAS</th>
                            <th> FECHA Y HORA DE ENTREGA REAL </th>
                            <th> OT DE ENTREGA </th>
                            <th> ESTATUS </th>
                            <th> OBSERVACIONES EN EL EMBARQUE </th>
                            <th> OBSERVACIONES EN LA ENTREGA </th>
                            <th> INCI. ARRIBO A CARGA (TRANSPORTE) </th>
                            <th> INCI. ARRIBO A CLIENTE (TRANSPORTE) </th>
                            <th> INC. EN EMBARQUE (ALMACEN) </th>
                            <th> INDICADORES DE RUTAS EXTRA </th>
                            <th> SINIESTROS EN RUTA </th>
                            <th> INDICADORES TIEMPO EN CARRETERA </th>
                            <th> ID CLIENTE</th>
                            <th> ID TIPO DE PEDIDO</th>
                            <th> ID TRANSPORTE</th>
                            <th> ID PERADOR</th>
                            <th> CONFIRMACION</th>
                            <th> FECHA Y HORA DE FINALIZACION</th>
                            <th>QUIEN REGISTRA</th>
                            <th>FECHA Y HORA DE REGISTRO</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        function mostrarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("MostrarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    console.log(dataJson)


                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.siteLoading),
                                $("<td>").text(item.ordersDelivery),
                                $("<td>").text(item.dtAppointedForShipment),
                                $("<td>").text(item.dtOfBoarding),
                                $("<td>").text(item.dtOfFarrivalOfUnit),
                                $("<td>").text(item.otOfBoarding),
                                $("<td>").text(item.dtOfChargingStart),
                                $("<td>").text(item.otLoadingEnd),
                                $("<td>").text(item.otOfChargingStart),
                                $("<td>").text(item.dtOfDepartureFromSite),
                                $("<td>").text(item.vehicleControl),
                                $("<td>").text(item.destination),
                                $("<td>").text(item.dtDeliveryAppointment),
                                $("<td>").text(item.pieces),
                                $("<td>").text(item.boxes),
                                $("<td>").text(item.dtArrivalToUnload),
                                $("<td>").text(item.onTime),
                                $("<td>").text(item.deliveryStatus),
                                $("<td>").text(item.obsevations),
                                $("<td>").text(item.shippingObservations),
                                $("<td>").text(item.incidentOfArrivalCargoTr),
                                $("<td>").text(item.incidentOfArrivalClientTr),
                                $("<td>").text(item.incidentInShipmentWh),
                                $("<td>").text(item.extraRouteIndicator),
                                $("<td>").text(item.accidentInRoute),
                                $("<td>").text(item.shippingObservations),
                                $("<td>").text(item.roadTimeIndicators),        
                                $("<td>").text(item.idClient),
                                $("<td>").text(item.idTypeOrders),
                                $("<td>").text(item.idTransport),
                                $("<td>").text(item.idTransportist),
                                $("<td>").text(item.confirmation),
                                $("<td>").text(item.endDateTime),
                                $("<td>").text(item.idUsuario),
                                $("<td>").text(item.fechaRegistro)

                            )

                        )
                    })

                })


        }


        function enviarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("EnviarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {

                    alert(dataJson.mensaje);

                })


        }


    </script>

}