@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Nbio Healthcare Logistics - Sistema de Pedidos</h1>
        <h3 class="lead">El gestor de pedidos de tus sueños</h3>
        <br>
        <p>
            <a href="https://app.powerbi.com/view?r=eyJrIjoiMmZlMGZhNDItN2RmOC00ZGNkLTljYWQtNTVkODNjMTViOTcwIiwidCI6IjNjZjQ5M2RjLWY2ZDYtNDI1MC05OTRmLWE5NmRiMjliMThiOSJ9
" class="btn btn-primary btn-md">Daily Operativo &raquo;</a>&nbsp;&nbsp; <a href="https://app.powerbi.com/view?r=eyJrIjoiMmZlMGZhNDItN2RmOC00ZGNkLTljYWQtNTVkODNjMTViOTcwIiwidCI6IjNjZjQ5M2RjLWY2ZDYtNDI1MC05OTRmLWE5NmRiMjliMThiOSJ9
" class="btn btn-primary btn-md">Tracker de Pedidos &raquo;</a>
        </p>
        <iframe title="AZ - Daily Entregas - Torre de Control" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6f377e35-7ccb-4c4e-bed9-a5d774324e66&autoAuth=true&ctid=3cf493dc-f6d6-4250-994f-a96db29b18b9" frameborder="0" allowFullScreen="true"></iframe>
        @* <iframe title="Tracker Pedidos AZ" width="1140" height="541" src="https://app.powerbi.com/view?r=eyJrIjoiNWZhYzJlN2YtYjZiZi00MjQzLWE0MjktYzBhYjZmZjE3MWNmIiwidCI6IjNjZjQ5M2RjLWY2ZDYtNDI1MC05OTRmLWE5NmRiMjliMThiOSJ9" frameborder="0" allowFullScreen="true"></iframe> *@




    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">nbio Healtcare Logistics</h2>
            <p>
                Texto Prueba
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Conocer mas &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Proyecto Saturno 🪐</h2>
            <p>
                Texto Prueba
            </p>
            <p>
                <a class="btn btn-default" href="https://saturnobi.com/">Conocer mas &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Control Tower Logistics</h2>
            <p>
                Texto Prueba
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Conocer mas &raquo;</a>
            </p>
        </section>
    </div>
</main>