
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Abre un ticket</h1>

<main aria-labelledby="title">

    <h3>Soporte de Usuarios</h3>
    <address>
        Rancho El Palmar 53<br />
        Coyoacan, CDMX <br />
        <abbr title="Phone">Telefono</abbr>
        +52 5525035441
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:soporte.it@nbio.mx">Soporte.it@nbio.mx</a><br />
        <strong>Proyecto Saturno 🪐:</strong> <a href="mailto:saturno@nbio.mx">saturno@nbio.mx</a>
    </address>
    <iframe width="1500px" height="800px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=3JP0PNb2UEKZT6ltspsYuSN1V_hKfuhIkSOva-U15HRUODFPRkFFWERTR0E5WFQ5UlgyN085UzQ5TyQlQCN0PWcu&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    @* <iframe width="1500px" height="800px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=3JP0PNb2UEKZT6ltspsYuS4Lcr9kwndMiwyCNNa0KEJUNjBDRzJLVU0xMkdZOEsyWTNXRkhZRVcwRyQlQCN0PWcu&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe> *@
    @* <iframe width="1500px" height="800px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=3JP0PNb2UEKZT6ltspsYuSN1V_hKfuhIkSOva-U15HRUODFPRkFFWERTR0E5WFQ5UlgyN085UzQ5TyQlQCN0PWcu&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe> *@
</main>

