@model Telescope_Traking_Delivery.Models.Transportist

@{
    ViewData["Title"] = "Transportist_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-elements-wrapper fa-align-center">

    <div class="row">

        <div class="col-lg-6">

            <!-- input style start -->
            <div class="card-style mb-30">

                @if (Model.IdTransportist == 0)
                {
                    <h6 class="input-style-25">Crear Una nuevo Transportista</h6>
                }
                else
                {
                    <h6 class="input-style-25"> Editar el Transportista</h6>
                }



                <form asp-action="Transportist_Detalle" asp-controller="Transportist" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="IdTransportist" />

                    <div class="input-style-2">
                        <label class="form-label" asp-for=" NameTransportist">Nombre</label>
                        <input class="form-control form-control-sm" asp-for=" NameTransportist" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="Age">Edad</label>
                        <input class="form-control form-control-sm" asp-for=" Age" type="number" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for=" License">Licencia</label>
                        <input class="form-control form-control-sm" asp-for=" License" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for=" TypeLicense">Tipo de Licencia</label>
                        <input class="form-control form-control-sm" asp-for="TypeLicense" type="text" required />
                    </div>

                    <div class="input-style-2">
                        <label class="form-label" asp-for=" Phone">Telefono</label>
                        <input class="form-control form-control-sm" asp-for="Phone" type="tel" required />
                    </div>

                    <div class="input-style-2">
                        <label class="form-label" asp-for="EsActivo">Estado</label>
                        <select class="form-select form-select-sm" asp-for="EsActivo">
                            <option value="True">Activo</option>
                            <option value="False">No Activo</option>
                        </select>
                    </div>

                    <div class="input-style-2">
                        <label class="form-label" asp-for="UrlFoto">Imagen</label>
                        <input class="form-control form-control-sm" asp-for="UrlFoto" type="file" name="Imagen" />
                    </div>

                    <div class="input-style-2" hidden>
                        <label class="form-label" asp-for="FechaRegistro">Fecha de Registro</label>
                        <input class="form-control form-control-sm" asp-for="FechaRegistro" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                    </div>


                    <div class="input-style-2">

                        @if (Model.IdTransportist == 0)
                        {
                            <button class="btn btn-primary btn-sm w-40" type="submit">Crear</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm w-40" type="submit">Actualizar</button>

                        }
                        <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Transportist">Volver</a>

                    </div>



                </form>



            </div>

        </div>

    </div>

</div>
@section Scripts{
}